<link href="/static/style.css" rel="stylesheet" type="text/css" />

{% block body %}

<div class="top">
<p style="text-align: center;">================W3Lc0M3 T0=================</p>

<p style="text-align: center;"><span style="font-size: 14px;"><span style="font-size: 36px;"><span style="font-size: 72px;">R3vIeWs <u>L@b3ll3r</u>&nbsp;(l33t)</span></span></span></p>

<p style="text-align: center;">&nbsp;Please label the respective <strong>review </strong>below</p>

<p style="text-align: center;">===========================================</p>
</div>

<form name="test">
<div class="appInfo">
<p><strong>AppID:<br />
Average App Rating:</strong></p>
</div>

<div class="revInfo">
<p><strong>Review Date:<br />
Review Author:<br />
Review Title:<br />
Review Text:</strong><br />
<strong>Review Rating: </strong></p>
</div>
</form>

<p style="text-align: center;">============================================</p>

<form action="results.html" method="POST" name="Item_1">
<div class="selection">
<p style="text-align: center;">The sentiment of the review (positive/negative/neutral): &nbsp;<select name="Sentence_Sentiment"><option value="positive">Positive</option><option value="negative">Negative</option><option value="neutral">Neutral</option> </select><br />
<br />
The authenticity of the review (genuine/fake): &nbsp;<select name="Authenticity"><option value="genuine">Genuine</option><option value="fake">Fake</option> </select></p>

<p style="text-align: center;">The real rating of the review (0/1/2/3/4/5): &nbsp;<select name="Rating"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="3">3</option><option value="4">4</option><option value="5">5</option> </select></p>

<p style="text-align: center;"><button type="Submit">Submit!</button></p>
</div>
</form>

<p style="text-align: center;">=============================================</p>

<p style="text-align: center;">Thank you!</p>

<p style="text-align: center;">Copyright @hazimfrodo. 2016 (not really, loool)</p>

<p>&nbsp;</p>
{% endblock %}
