
<link rel="stylesheet" href="/static/style2.css" type="text/css">


{% block body %}

<div class="top">
<p style="text-align: center;">================W3Lc0M3 T0=================</p>

<p style="text-align: center;"><span style="font-size: 14px;"><span style="font-size: 36px;"><span style="font-size: 72px;">R3vIeWs <u>L@b3ll3r</u>&nbsp;(l33t)</span></span></span></p>

<center>Hi, <strong>{{nameIncoming}}</strong>!!</center>
<center><strong>Reviews Labelled: </strong>{{revdrop[0]}}</center>
<center><strong>Reviews Dropped: </strong>{{revdrop[1]}}</center>
<p style="text-align: center;">&nbsp;Please label the respective <strong>review </strong>below</p>


<p style="text-align: center;">===========================================</p>
</div>

<form name="test">
<div class="appInfo">
<p><strong>AppID: </strong>{{review[1]}}<br />
<strong>AppPrice: </strong>RM {{review[2]}}<br />
<strong>Average App Rating: </strong>{{review[3]}}</p>
</div>

<div class="revInfo">
<p><strong>Review Date: </strong>{{review[6]}}<br />
<strong>Review Author: </strong>{{review[5]}}<br />
<strong>Review Rating: </strong>{{review[7]}}</p>
<strong>Review Title: </strong>{{review[9]}}<br />
<strong>Review Text: </strong>{{review[8]}}<br />
</div>
</form>
<p style="text-align: center;">============================================</p>
<p style="text-align: center;"><span style="font-size: 18px;"><strong>Information</strong></span></p>
	<p style="text-align: center;"><strong>+</strong> If the review is uncategorizable or not clear, just press the button below to drop it and proceed with the next review! <strong>+</strong></p>
	<p style="text-align: center;"><strong>+</strong> If the review is totally in English, Indonesian or other than Malay language, drop it! <strong>+</strong></p>
	<form action="/drop" name="Item_0">
		<p style="text-align: center;"><button type="Drop"><strong>Drop!</strong></button></p>
	</form>
<p style="text-align: center;">============================================</p>

<form action="/result" method="POST" name="Item_1">
<div class="selection">
	<p style="text-align: center;">Label the attributes accordingly.</br>Press the "Submit" button to save and proceed with the next reviews.</p>
    <fieldset>
        <legend><strong>The sentiment of the review</strong></legend>
        <div>
        	<label class="radio-label">Positive</label>
            <input class="radio-input" type="radio" name="sentiment" value="positive"
            <label class="radio-label">Neutral</label>            
            <input class="radio-input" type="radio" name="sentiment" value="neutral"
            <label class="radio-label">Negative</label>
            <input class="radio-input" type="radio" name="sentiment" value="negative"
        </div>
    </fieldset>
    </br>
    <fieldset>
        <legend><strong>The authenticity of the review</strong></legend>
        <div>
        	<label class="radio-label">Genuine</label>
            <input class="radio-input" type="radio" name="authenticity" value="genuine"
            <label class="radio-label">Fake</label>            
            <input class="radio-input" type="radio" name="authenticity" value="fake"
        </div>
    </fieldset>
        </br>
    <fieldset>
        <legend><strong>The real/actual rating of the review</strong></legend>
        <div>
        	<label class="radio-label" >5</label>
            <input class="radio-input" type="radio" name="rating" value=5
            <label class="radio-label font-weight: bold;">4</label>            
            <input class="radio-input" type="radio" name="rating" value=4
            <label class="radio-label">3</label>
            <input class="radio-input" type="radio" name="rating" value=3
            <label class="radio-label">2</label>
            <input class="radio-input" type="radio" name="rating" value=2
            <label class="radio-label">1</label>
            <input class="radio-input" type="radio" name="rating" value=1
            <label class="radio-label">0</label>
            <input class="radio-input" type="radio" name="rating" value=0
        </div>
    </fieldset>

</br>
<p style="text-align: center;"><button type="Submit"><strong>Submit!</strong></button></p>
</div>
</form>

<p style="text-align: center;">=============================================</p>

<p style="text-align: center;">Thank you!</p>

<p style="text-align: center;">Copyright @hazimfrodo. 2016 (not really, loool)</p>

<p>&nbsp;</p>
{% endblock %}
